<!DOCTYPE html>
<html>
  <head>
     <script type="text/javascript">
         function getCookie(cname) {
             var name = cname + "=";
             var decodedCookie = decodeURIComponent(document.cookie);
             var ca = decodedCookie.split(';');
             for(var i = 0; i <ca.length; i++) {
                 var c = ca[i];
                 while (c.charAt(0) == ' ') {
                     c = c.substring(1);
                 }
                 if (c.indexOf(name) == 0) {
                     return c.substring(name.length, c.length);
                 }
             }
             return "not-set";
         }

         document.addEventListener("DOMContentLoaded", function() {
             // this function runs when the DOM is ready, i.e. when the document has been parsed
             document.getElementById("hubId").textContent = getCookie('hub')
         });
      
     </script>
  </head>

  <body>
    <h1>Welcome to the sharder</h1>
    <p>You are assigned to hub: <span id="hubId"></span>.</p>
  </body>
</html>

